* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 5%;
}

nav {
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav li {
    padding: 10px;
}
