/* ROOT */
* {
    overflow-x: hidden;
    border: 0 0;
    padding: 0 0;
    margin: 0 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;

    /* Debug */
    /* border: solid 0.1px red; */
}

/* BODY */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-width: 100dvw;
    min-height: 100dvh;
    background: #f2f2f2;
}

/* HEADER */
header,
footer {
    background: #ccc;
    text-align: center;
    padding: 1em;
    font-weight: bold;
}

/* PROFILE */
.profile {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    overflow: hidden;
    margin: 1em auto;
    border: 0.2em solid black;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
}

/* MAIN */
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1em 3em;
}

.left {
    display: flex;
    flex-direction: column;
}

.box {
    padding: 5px 15px;
    font-size: 1.2em;
}

aside {
    padding: 10px;
    font-size: 1.2em;
}

/* CONTENT */
li p {
    border-top: 1px solid black;
}

/* ELEMENT */
hr {
    height: 5px;
    background-color: #000;
    border: none;
    border-radius: 2px;
}

a {
    color: #0077b6;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.2s ease-in;
}

a:hover {
    color: #023e8a;
    text-decoration: underline;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 6px;
}

li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 8px;
    height: 8px;
    background-color: #0077b6;
    /* warna biru */
    border-radius: 50%;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .left,
    aside {
        width: 100%;
    }

    aside {
        order: 3;
    }

    header,
    footer {
        font-size: 0.9em;
        padding: 8px;
    }

    .box,
    aside {
        font-size: 1em;
        padding: 10px;
    }
}
